__pycache__/
.vscode/
*.py[cod]
linux_sdk_paths.env
output/
shared_images/
service.log
service.log.*
core
core.*
field_test/output/*
field_test/images/*
field_test/annotations/*
!field_test/output/.gitkeep
!field_test/images/.gitkeep
!field_test/annotations/.gitkeep
tool/tool_calibration_record.yaml
tool/backups/
tool/tool_offsets.backup.yaml
tool/interactive_tool_calibration_result.yaml
