[Unit]
Description=GDY High/Low Voltage Visual Detection Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nvidia
WorkingDirectory=/home/nvidia/software/GDY_vison_detect_v3
ExecStart=/bin/bash /home/nvidia/software/GDY_vison_detect_v3/run_service.sh
Restart=always
RestartSec=3
TimeoutStopSec=20
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
